<form method="post" action="?cmd=author-add-submit" id="input-form">
    <div class="label-cell"><label for="firstName">Eesnimi:</label></div>
    <div class="input-cell"><input id="firstName" name="firstName" type="text"/></div>
    <div class="label-cell"><label for="lastName">Perekonnanimi:</label></div>
    <div class="input-cell"><input id="lastName" name="lastName" type="text"/></div>
    <div class="label-cell">Hinne:</div>
    <div class="input-cell">
        <label>
            <input type="radio" name="grade" value="1">1
        </label>
        <label>
            <input type="radio" name="grade" value="2">2
        </label>
        <label>
            <input type="radio" name="grade" value="3">3
        </label>
        <label>
            <input type="radio" name="grade" value="4">4
        </label>
        <label>
            <input type="radio" name="grade" value="5">5
        </label>
    </div>
    <div class="label-cell"></div>
    <div class="input-cell">
        <div class="button-align">
            <input name="submitButton" type="submit" value="Salvesta">
        </div>
    </div>
</form>