<form id="input-form" action="?cmd=author-add-submit&query=update" method="post">
    <input name="author_id" type="hidden" value="{{ $id }}">
    <div class="label-cell"><label for="firstName">Eesnimi:</label></div>
    <div class="input-cell"><input id="firstName" name="firstName" type="text" value="{{ $fname }}"/></div>
    <div class="label-cell"><label for="lastName">Perekonnanimi:</label></div>
    <div class="input-cell"><input id="lastName" name="lastName" type="text" value="{{ $lname }}"/></div>
    <div class="label-cell">Hinne:</div>
    <div class="input-cell">
        <label>
            <input type="radio" name="grade" value="1" tpl-checked="$grade == 1"/>1
        </label>
        <label>
            <input type="radio" name="grade" value="2" tpl-checked="$grade == 2"/>2
        </label>
        <label>
            <input type="radio" name="grade" value="3" tpl-checked="$grade == 3"/>3
        </label>
        <label>
            <input type="radio" name="grade" value="4" tpl-checked="$grade == 4"/>4
        </label>
        <label>
            <input type="radio" name="grade" value="5" tpl-checked="$grade == 5"/>5
        </label>
    </div>
    <div class="input-cell">
        <div class="button-align">
            <input name="submitButton" type="submit" value="Uuenda">
            <input name="deleteButton" class="delete" type="submit" value="Kustuta">
        </div>
    </div>
</form>