<div tpl-if="$error" id="error-block">{{ $error }}<br></div>
<form id="input-form" action="?cmd=book-add-submit" method="post">
    <input type="hidden" name="id" value="">
    <div class="label-cell"><label for="title">Pealkiri:</label></div>
    <div class="input-cell"><input id="title" name="title" type="text" value=""/></div>
    <div class="label-cell"><label for="author1">Autor 1:</label></div>
    <div class="input-cell">
        <select id="author1" name="author1">
            <option value=""></option>
            <tpl tpl-foreach="$authors as $author">
                <option value="{{ $author['id'] }}">{{ $author['firstName'] }} {{ $author["lastName"] }}</option>
            </tpl>
        </select>
    </div>
    <div class="label-cell"><label for="author2">Autor 2:</label></div>
    <div class="input-cell">
        <select id="author2" name="author2">
            <option value=""></option>
            <tpl tpl-foreach="$authors as $author">
                <option value="{{ $author['id'] }}">{{ $author['firstName'] }} {{ $author["lastName"] }}</option>
            </tpl>
        </select>
    </div>
    <div class="label-cell">Hinne:</div>
    <div class="input-cell">
        <label>
            <input type="radio" id="grade" name="grade" value="1" tpl-checked="$grade == 1"/>1</label>
        <label>
            <input type="radio" id="grade" name="grade" value="2" tpl-checked="$grade == 2"/>2</label>
        <label>
            <input type="radio" id="grade" name="grade" value="3" tpl-checked="$grade == 3"/>3</label>
        <label>
            <input type="radio" id="grade" name="grade" value="4" tpl-checked="$grade == 4"/>4</label>
        <label>
            <input type="radio" id="grade" name="grade" value="5" tpl-checked="$grade == 5"/>5</label>
    </div>
    <div class="label-cell"><label for="isRead">Loetud:</label></div>
    <div class="input-cell"><input id="isRead" name="isRead" type="checkbox" tpl-checked="$isRead != ''"/></div>
    <div class="label-cell"></div>
    <div class="button-align">
        <input name="submitButton" type="submit" value="Salvesta">
    </div>
</form>
