<div id="error-block"><tpl tpl-foreach="$errArray as $error">{{ $error }}</tpl></div>
<form id="input-form" action="?cmd=author-add-submit" method="post">
    <input type="hidden" name="id" value="{{ $id }}">
    <div class="label-cell"><label for="firstName">Eesnimi:</label></div>
    <div class="input-cell"><input id="firstName" name="firstName" type="text" value="{{ $fname }}"/></div>
    <div class="label-cell"><label for="lastName">Perekonnanimi:</label></div>
    <div class="input-cell"><input id="lastName" name="lastName" type="text" value="{{ $lname }}"/></div>
    <div class="label-cell">Hinne:</div>
    <div class="input-cell">
        <label>
            <input type="radio" name="grade" value="1" tpl-checked="$grd == 1"/>1
        </label>
        <label>
            <input type="radio" name="grade" value="2" tpl-checked="$grd == 2"/>2
        </label>
        <label>
            <input type="radio" name="grade" value="3" tpl-checked="$grd == 3"/>3
        </label>
        <label>
            <input type="radio" name="grade" value="4" tpl-checked="$grd == 4"/>4
        </label>
        <label>
            <input type="radio" name="grade" value="5" tpl-checked="$grd == 5"/>5
        </label>
    </div>
    <div class="label-cell"></div>
    <div class="input-cell">
        <div class="button-align">
            <input name="submitButton" type="submit" value="Salvesta">
        </div>
    </div>
</form>
