<div tpl-if="$error" id="error-block">{{ $error }}<br></div>
<br>
<form id="input-form" action="?cmd=book-add-submit" method="post">
    <input type="hidden" name="id" value="">
    <table>
        <tr>
            <td>
                <label for="title">Pealkiri:</label>
            </td>
            <td>
                <input type="text"
                       id="title"
                       name="title"
                       value="{{ $title }}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="author1">Autor 1:</label>
            </td>
            <td>
                <select id="author1" name="author1">
                    <option value=""></option>
                    <tpl tpl-foreach="$authors as $author">
                        <option tpl-selected="$author1 == $author['id']" value="{{ $author['id'] }}">{{ $author['firstName'] }} {{ $author['lastName'] }}</option>
                    </tpl>
                </select></td>
        </tr>
        <tr>
            <td>
                <label for="author2">Autor 2:</label>
            </td>
            <td>
                <select id="author2" name="author2">
                    <option value=""></option>
                    <tpl tpl-foreach="$authors as $author">
                        <option tpl-selected="$author2 == $author['id']" value="{{ $author['id'] }}">{{ $author['firstName'] }} {{ $author['lastName'] }}</option>
                    </tpl>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Hinne:</label>
            </td>
            <td>
                <label>
                    <input type="radio" id="grade" name="grade" value="1" tpl-checked="$grade == 1"/>1</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="2" tpl-checked="$grade == 2"/>2</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="3" tpl-checked="$grade == 3"/>3</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="4" tpl-checked="$grade == 4"/>4</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="5" tpl-checked="$grade == 5"/>5</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="isRead">Loetud:</label>
            </td>
            <td>
                <input id="isRead" name="isRead" type="checkbox" tpl-checked="$isread != ''"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" id="submitButton" name="submitButton" value="Salvesta">
            </td>
        </tr>
    </table>
</form>