body {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

nav, footer {
    background-color: lightgrey;
    border-radius: .25rem;
    padding: 0.6rem;
}
#message-block, #error-block {
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;

    line-height: 1.7rem;

    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}

#message-block {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#error-block {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}