<div>
    <div tpl-if="$message" id="message-block">{{ $message }}<br></div>
    <table>
        <tr>
            <th>Eesnimi</th>
            <th>Perekonnanimi</th>
            <th>Hinne</th>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <br>
        <tpl tpl-foreach="$authors as $author">
            <tr>
                <td><a href="?cmd=author-edit&id={{ $author[0] }}">{{ $author['1'] }}</a></td>
                <td>{{ $author['2'] }}</td>
                <td>{{ $author['3'] }}</td>
            </tr>
        </tpl>
    </table>
</div>