<div tpl-if="$error" id="error-block">{{ $error }}<br></div>
<form method="post" action="?cmd=author-add-submit" id="input-form">
    <input name="id" type="hidden" value="">
    <table>
        <tr>
            <td>
                <label for="firstName">Eesnimi:</label>
            </td>
            <td>
                <input type="text"
                       id="firstName"
                       name="firstName"
                       value="{{ $firstName }}"
                >
            </td>
        </tr>
        <tr>
            <td>
                <label for="lastName">Perekonnanimi:</label>
            </td>
            <td>
                <input type="text"
                       id="lastName"
                       name="lastName"
                       value = "{{ $lastName }}"
                >
            </td>
        </tr>
        <tr>
            <td>
                <label>Hinne:</label>
            </td>
            <td>
                <label>
                    <input type="radio" id="grade" name="grade" value="1" tpl-checked="$grade == 1"/>1</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="2" tpl-checked="$grade == 2"/>2</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="3" tpl-checked="$grade == 3"/>3</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="4" tpl-checked="$grade == 4"/>4</label>
                <label>
                    <input type="radio" id="grade" name="grade" value="5" tpl-checked="$grade == 5"/>5</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" id="submitButton" name="submitButton" value="Salvesta">
            </td>
        </tr>
    </table>
</form>