<div tpl-if="$message" id="message-block">{{ $message }}<br></div>
<table>
    <tr>
        <th>Pealkiri</th>
        <th>Autorid</th>
        <th>Hinne</th>
    </tr>
    <tr>
        <td colspan="3"><hr></td>
    </tr>
    <br>
    <tpl tpl-foreach="$books as $book">
        <tr>
            <td><a href="?cmd=book-edit&id={{ $book['0']}}">{{ $book['1'] }}</a></td>
            <td>{{ $book['3']}} {{ $book['2']}}</td>
            <td>{{ $book['4']}}</td>
        </tr>
    </tpl>
</table>
<br>
<br>
<br>
<br>
<br>
