<div id="error-block"><tpl tpl-if="$error">{{ $error }}</tpl></div>
<form id="input-form" action="?cmd=book-form-submit" method="post">
    <input type="hidden" name="id" value="{{ $id }}">
    <div class="label-cell"><label for="title">Pealkiri:</label></div>
    <div class="input-cell"><input id="title" name="title" type="text" value="{{ $sname }}" /></div>
    <div class="label-cell"><label for="author1">Autor 1:</label></div>
    <div class="input-cell">
        <select id="author1" name="author1">
            <option value=""></option>
            <tpl tpl-foreach="$authors as $author">
                <option tpl-selected="$author1 == $author['id']" value="{{ $author['id'] }}">{{ $author['first_name'] }} {{ $author['last_name'] }}</option>
            </tpl>
        </select>
    </div>
    <div class="label-cell"><label for="author2">Devops2:</label></div>
    <div class="input-cell">
        <select id="author2" name="author2">
            <option value=""></option>
            <tpl tpl-foreach="$authors as $author">
                <option tpl-selected="@author2 == $author['id']" value="{{ $author['id'] }}">{{ $author['first_name'] }} {{ $author['last_name'] }}</option>
            </tpl>
        </select>
    </div>
    <div class="label-cell">Hinne: </div>
    <div class="input-cell">
        <label>
            <input type="radio" name="grade" value="1" tpl-checked="$grd == 1"/>1
        </label>
        <label>
            <input type="radio" name="grade" value="2" tpl-checked="$grd == 2"/>2
        </label>
        <label>
            <input type="radio" name="grade" value="3" tpl-checked="$grd == 3"/>3
        </label>
        <label>
            <input type="radio" name="grade" value="4" tpl-checked="$grd == 4"/>4
        </label>
        <label>
            <input type="radio" name="grade" value="5" tpl-checked="$grd == 5"/>5
        </label>
    </div>
    <div class="label-cell"><label for="isRead">Loetud:</label></div>
    <div class="input-cell"><input id="isRead" name="isRead" type="checkbox" tpl-checked="$isRead != ''"/></div>
    <div class="label-cell"></div>
    <div class="button-align">
        <input name="submitButton" type="submit" value="Salvesta">
        <tpl tpl-if="$delButton == 1">
            <input name="deleteButton" class="delete" type="submit" value="Kustuta">
        </tpl>
    </div>
</form>
