<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raamatud</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body id = "{{ $pageid }}">
<nav><a id="book-list-link" href="?cmd=book-list">Raamatud</a>
    <span>|</span>
    <a id="book-form-link" href="?cmd=book-form">Lisa Raamat</a>
    <span>|</span>
    <a id="author-list-link" href="?cmd=author-list">Autorid</a>
    <span>|</span>
    <a id="author-form-link" href="?cmd=author-form">Lisa autor</a>
</nav>
<main tpl-include="{{ $template }}">
</main>
<footer>
    ICD0007 Harjutus
</footer>
</body>
</html>